<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <h2>Add new product</h2>

    <br>
    <br>

    <div class="form-control">
      <label for="type">Type:</label>
      <select id="type" formControlName="type">
        <option value="Phone">Phone</option>
        <option value="Tablet">Tablet</option>
        <option value="Laptop">Laptop</option>
      </select>
      <div *ngIf="form.get('type')?.touched && form.get('type')?.invalid" class="validation">
        <small *ngIf="form.get('type')?.errors?.['required']">Chose product type</small>
      </div>
    </div>

    <div class="form-control">
      <label for="title">Name:</label>
      <input id="title" formControlName="title">
      <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="validation">
        <small *ngIf="form.get('title')?.errors?.['required']">Enter product name</small>
      </div>
    </div>

    <div class="form-control">
      <label for="photo">Photo:</label>
      <quill-editor id="photo" formControlName="photo"></quill-editor>
      <div *ngIf="form.get('photo')?.touched && form.get('photo')?.invalid" class="validation">
        <small *ngIf="form.get('photo')?.errors?.['required']">Insert photo</small>
      </div>
    </div>

    <div class="form-control">
      <label for="info">Information:</label>
      <quill-editor id="info" formControlName="info"></quill-editor>
      <div *ngIf="form.get('info')?.touched && form.get('info')?.invalid" class="validation">
        <small *ngIf="form.get('info')?.errors?.['required']">Write info for this product</small>
      </div>
    </div>

    <div class="form-control">
      <label for="price">Price:</label>
      <input id="price" formControlName="price">
      <div *ngIf="form.get('price')?.touched && form.get('price')?.invalid" class="validation">
        <small *ngIf="form.get('price')?.errors?.['required']">Enter product price</small>
      </div>
    </div>



    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Add</button>

  </form>
</div>
